<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                <ul class="navbar-nav navbar-nav-left">
                    <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                        <a href="#" class="nav-link horizontal-nav-left-menu"><i
                                class="mdi mdi-format-list-bulleted"></i></a>
                    </li>
                  
                
                </ul>
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo" [routerLink]="[ '/formular']"><img
                            src="../../assets/images/logo.svg" alt="logo" style="height: 100px;" /></a>
                    <a class="navbar-brand brand-logo-mini" [routerLink]="[ '/formular']"><img style="height: 100px;"
                            src="../../assets/images/logo.svg" alt="logo" /></a>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="nav-profile-name">Admin</span>
                            <span class="online-status"></span>
                            <img src="../../assets/images/admin.png" alt="profile" />
                        </a>

                    </li>

                    <li class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        Logout
                    </li>


                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>

    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/formular']">
                        <i class="mdi mdi-code-braces menu-icon"></i>
                        <span class="menu-title" style="font-family: 'Sarabun', sans-serif;">สูตรคำนวณทั้งหมด</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" [routerLink]="[ '/backtest']">
                        <i class="mdi mdi-finance menu-icon"></i>
                        <span class="menu-title"
                            style="font-family: 'Sarabun', sans-serif;">ทดสอบข้อมูลย้อนหลัง</span>
                        <i class="menu-arrow"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/user']" class="nav-link">
                        <i class="mdi mdi-account-convert menu-icon"></i>
                        <span class="menu-title"
                            style="font-family: 'Sarabun', sans-serif;">จัดการข้อมูลผู้ใช้งาน</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/news']"class="nav-link">
                        <i class="mdi mdi-newspaper menu-icon"></i>
                        <span class="menu-title" style="font-family: 'Sarabun', sans-serif;">จัดการข่าวสาร</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
              

            </ul>
        </div>
    </nav>
</div>
