<!-- <h1>Heloo</h1>
<div *ngFor="let item of a ; index as i">
<p> {{a[i]}}</p>
</div> -->

<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="font-family: 'Sarabun', sans-serif;">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-6 mb-4 mb-xl-0">
                        <div class="d-lg-flex align-items-center">
                            <div>
                                <h3 class="text-dark font-weight-bold mb-2">ทดสอบข้อมูลย้อนหลังทั้งหมด</h3>
                                <h6 class="font-weight-normal mb-2">สามารถทดสอบข้อมูลย้อนหลังทั้งหมดได้</h6>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">



                                <div class="table-responsive pt-3" style="font-family: 'Sarabun', sans-serif;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    <b> ชื่อหุ้น</b>
                                                </th>
                                                <th>
                                                    <b>buytp
                                                    </b>
                                                </th>

                                                <th>
                                                    <b> buysl
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> perbuy
                                                    </b>
                                                </th>
                                                <th>
                                                    <b>selltp
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> sellsl
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> persell
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> sumt
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> sumf
                                                    </b>
                                                </th>
                                                <th>
                                                    <b> sumall
                                                    </b>
                                                </th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of a ; index as i">
                                                <td>{{i+1}}</td>

                                                <td>
                                                    {{name[i]}}
                                                </td>
                                                <td>
                                                    {{a[i] }}
                                                </td>
                                                <td>
                                                    {{k[i] }}
                                                </td>
                                                <td>
                                                    {{b[i] | number}}
                                                </td>
                                                <td>
                                                    {{c[i] }}
                                                </td>
                                                <td>
                                                    {{d[i] }}
                                                </td>
                                                <td>
                                                    {{h[i] | number}}
                                                </td>
                                                <td>
                                                    {{g[i] }}
                                                </td>
                                                <td>
                                                    {{f[i] }}
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>