<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="font-family: 'Sarabun', sans-serif;">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ข้อมูลส่วนตัว</h4>
                  <p class="card-description">
                  </p>
  
                  <div class="form-group">
                    <label for="exampleInputUsername1">ชื่อ</label>
                    <input [(ngModel)]="user.f_name" type="text" class="form-control" id="exampleInputUsername1"
                      placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">นามสกุล</label>
                    <input [(ngModel)]="user.l_name" type="text" class="form-control" id="exampleInputEmail1"
                      placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">เบอร์โทร</label>
                    <input [(ngModel)]="user.phone" type="text" class="form-control" id="exampleInputPassword1"
                      placeholder="Password">
                  </div>
  
  
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ข้อมูลเพิ่มเติม</h4>
  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="user.email" type="email" class="form-control" id="exampleInputEmail1"
                      placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Line Token</label>
                    <textarea [(ngModel)]="user.token" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
  
  
                  <button (click)="save()" type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button (click)="back()" class="btn btn-light">Cancel</button>
  
                </div>
              </div>
            </div>
  
          </div>
  
  
        </div>
  
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  