<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="font-family: 'Sarabun', sans-serif;">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-6 mb-4 mb-xl-0">
              <div class="d-lg-flex align-items-center">
                <div>
                  <h3 class="text-dark font-weight-bold mb-2">ตั้งค่ารหัสผ่านใหม่</h3>
                  <h6 class="font-weight-normal mb-2">ตั้งค่ารหัสผ่านใหม่ของผู้ดูแลระบบ</h6>
                </div>
  
              </div>
            </div>
           
          </div>
          <div class="row">
           
          </div>
  
        </div>
  
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  